@charset "utf-8";



@media (min-width: 320px) { 
    .shine {width: 30%;}
    #circle-list{margin-left: 20%;}
    .img_all {width: 300%;}
    .suggest {
        color: white;
        padding: 3% 2%;
        font-size: 60%;
        position: absolute;
        top: 36%;
        left: 40%;
        text-align: center;
        border-radius: 100%;
        background-color: #1e94d4;
        background:rgba(30,148,212,0.7);
    }
}

@media (min-width: 616px) { 
    #circle-list{margin-left: 20%;}
    .img_all {width: 300%;}
    .suggest {
        color: white;
        padding: 3% 2%;
        font-size: 60%;
        position: absolute;
        top: 34%;
        left: 40%;
        text-align: center;
        border-radius: 100%;
        background-color: #1e94d4;
        background:rgba(30,148,212,0.7);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .img_all {width: 250%;}
    #circle-list{margin-left: 25%;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
    .img_all {width: 200%;}
    .shine {width: 25%;}
    #circle-list{margin-left: 31%;}
    .suggest {
        color: white;
        padding: 2% 1.5%;
        font-size: 60%;
        position: absolute;
        top: 34.5%;
        left: 42.5%;
        text-align: center;
        border-radius: 100%;
        background-color: #1e94d4;
        background:rgba(30,148,212,0.7);
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .img_all {width: 150%;}
    #circle-list{margin-left: 35%;}
    .suggest {
        color: white;
        padding: 2% 1.5%;
        font-size: 60%;
        position: absolute;
        top: 34%;
        left: 44%;
        text-align: center;
        border-radius: 100%;
        background-color: #1e94d4;
        background:rgba(30,148,212,0.7);
    }

}



button {
    border: 0ch;
    background-color: transparent;
    outline:none;
    cursor: pointer;
}

@keyframes fade {
    0% {top: 30%;}
    50% {top: 65%}
    100% {top: 30%;}
}

@keyframes imgFade {
    0% {visibility:hidden;}
    50% {visibility:visible;}
    100% {visibility:hidden;}
}

@keyframes fadein {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes Imgfadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}





.suggest_toy {z-index: 2;}
.suggest_doll{z-index: 3;}
.suggest_helmet {z-index: 4;}
.suggest_cat {z-index: 5;}
.suggest_leather {z-index: 6;} 
.suggest_head {z-index: 7;}



.img_doll, .img_toy, .img_cat, .img_helmet , .img_leather, .img_head {
    user-select: none;
}



#circle-list{
    position:absolute;
	list-style:none;
	width:40%;
}



			
#circle-list div
{
    display:block;
    position:absolute;
    font-family:arial;
    width:30%;
    text-align:center;
}

.shine {
    user-select: none;
    position:absolute;
    right: 35%;
    top: 70%;
}

.cover_set {
    z-index: 1;
    position:absolute;
    top: 30%;
    margin:0 auto;
    width: 35%;
}
